::-webkit-scrollbar {
    width: .4em;
    height: .6em
}

::-webkit-scrollbar-track-piece {
    background: rgba(255,255,255,0.3)
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background: rgba(255,255,255,0.7)
}

html,body {
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: black;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

html #Startmenu,body #Startmenu {
    height: 100%;
    width: 100%
}

html #Startmenu h1,body #Startmenu h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    height: 10%;
    font-size: 250%;
    text-shadow: 1px 0px 3px red
}

html #Startmenu h1 sub,body #Startmenu h1 sub {
    font-size: 50%;
    color: red;
    text-shadow: none
}

html #Startmenu #playerSlection,body #Startmenu #playerSlection {
    color: white;
    float: left;
    width: 50%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html #Startmenu #playerSlection .player-container,body #Startmenu #playerSlection .player-container {
    display: block;
    width: 100%;
    height: 70px;
    opacity: .3;
    -webkit-box-shadow: 0px 0px 5px white;
    box-shadow: 0px 0px 5px white;
    -webkit-transition: .2s;
    transition: .2s
}

html #Startmenu #playerSlection .player-container:hover,body #Startmenu #playerSlection .player-container:hover {
    opacity: .8
}

html #Startmenu #playerSlection .player-container .name,body #Startmenu #playerSlection .player-container .name {
    float: left;
    padding: 5px 10px
}

html #Startmenu #playerSlection .player-container .keyLeft,html #Startmenu #playerSlection .player-container .keyRight,body #Startmenu #playerSlection .player-container .keyLeft,body #Startmenu #playerSlection .player-container .keyRight {
    float: right;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px
}

html #Startmenu #playerSlection .player-container.selected,body #Startmenu #playerSlection .player-container.selected {
    opacity: .8 !important
}


html #Startmenu #playerSlection .player-container[alt="red"],body #Startmenu #playerSlection .player-container[alt="red"] {
    background: rgba(255,0,0,0.8)
}

html #Startmenu #playerSlection .player-container[alt="green"],body #Startmenu #playerSlection .player-container[alt="green"] {
    background: rgba(0,255,0,0.8)
}

html #Startmenu #playerSlection .player-container[alt="#FFA500"],body #Startmenu #playerSlection .player-container[alt="#FFA500"] {
    background: rgba(255,165,0,0.8)
}

html #Startmenu #playerSlection .player-container[alt="purple"],body #Startmenu #playerSlection .player-container[alt="purple"] {
    background: rgba(255,0,255,0.8)
}

html #Startmenu #playerSlection .player-container[alt="cyan"],body #Startmenu #playerSlection .player-container[alt="cyan"] {
    background: rgba(0,255,255,0.8)
}

html #Startmenu #playerSlection .player-container[alt="yellow"],body #Startmenu #playerSlection .player-container[alt="yellow"] {
    background: rgba(255,255,0,0.8)
}

html #Startmenu #playerSlection .player-container[alt="grey"],body #Startmenu #playerSlection .player-container[alt="grey"] {
    background: rgba(100,100,100,0.8)
}

html #Startmenu #playerSlection .player-container[alt="#07420c"],body #Startmenu #playerSlection .player-container[alt="#07420c"] {
    background: rgba(7,66,12,0.8)
}

html #Startmenu #playerSlection .player-container[alt="blue"],body #Startmenu #playerSlection .player-container[alt="blue"] {
    background: rgba(0,0,255,0.8)
}

html #Startmenu #playerSlection .player-container[alt="#964B00"],body #Startmenu #playerSlection .player-container[alt="#964B00"] {
    background: rgba(150,75,0,0.8)
}

html #Startmenu #playerSlection .player-container[alt="blueviolet"],body #Startmenu #playerSlection .player-container[alt="blueviolet"] {
    background: rgba(138,43,226,0.8)
}

html #Startmenu #playerSlection .player-container[alt="deeppink"],body #Startmenu #playerSlection .player-container[alt="deeppink"] {
    background: rgba(255,20,147,0.8)
}

html #Startmenu #playerSlection .player-container[alt="aquamarine"],body #Startmenu #playerSlection .player-container[alt="aquamarine"] {
    background: rgba(127,255,212,0.8)
}

html #Startmenu #playerSlection .player-container[alt="teal"],body #Startmenu #playerSlection .player-container[alt="teal"] {
    background: rgba(0,128,129,0.8)
}

html #Startmenu #playerSlection .player-container[alt="coral"],body #Startmenu #playerSlection .player-container[alt="coral"] {
    background: rgba(255,127,80,0.8)
}

html #Startmenu #Go,body #Startmenu #Go {
    position: absolute;
    bottom: 10%;
    right: 430px;
    color: white;
    padding: 10px 20px;
    background: black;
    border: 2px solid purple;
    width: 400px;
    margin: auto;
    text-align: center;
    font-size: 5em;
    cursor: pointer;
    border-radius: 5px;
    font-family: sans-serif;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-animation: pulse 1.5s infinite linear;
    animation: pulse 1.5s infinite linear
}

html #Startmenu #Go:hover,body #Startmenu #Go:hover {
    -webkit-transform: scale3d(1.3, 0.9, 1.25);
    transform: scale3d(1.3, 0.9, 1.25)
}

html #Startmenu #sliders,body #Startmenu #sliders {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 96vh;
    margin-right: 20px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}
html #Startmenu #sliders p,body #Startmenu #sliders p {
    text-align: center;
}

html #Startmenu #sliders p,body #Startmenu #sliders p {
    -webkit-margin-after: 0;
    margin-block-end:0}

html #Startmenu #sliders p,html #Startmenu #sliders label:not(#objectsLabel),body #Startmenu #sliders p,body #Startmenu #sliders label:not(#objectsLabel) {
    color: white;
    font-family: sans-serif
}

html #Startmenu #sliders .checkboxContainer,body #Startmenu #sliders .checkboxContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 50px;
    grid-template-columns: auto 50px;
    background: blue;
    border-radius: 3px;
    border: 1px solid blue;
    -webkit-transition: .2s;
    transition: .2s
}

html #Startmenu #sliders .checkboxContainer:hover,body #Startmenu #sliders .checkboxContainer:hover {
    background: midnightblue
}

html #Startmenu #sliders .checkboxContainer label:first-of-type,body #Startmenu #sliders .checkboxContainer label:first-of-type {
    font-family: sans-serif;
    line-height: 50px;
    padding-left: 20px;
    cursor: pointer
}

html #Startmenu #sliders .checkboxContainer input[type=checkbox],body #Startmenu #sliders .checkboxContainer input[type=checkbox] {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}

html #Startmenu #sliders .checkboxContainer input[type=checkbox]+label,body #Startmenu #sliders .checkboxContainer input[type=checkbox]+label {
    padding-left: 25px;
    height: 25px;
    border-radius: 3px;
    display: inline-block;
    margin: 12.5px;
    line-height: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer
}

html #Startmenu #sliders .checkboxContainer input[type=checkbox]:checked+label,body #Startmenu #sliders .checkboxContainer input[type=checkbox]:checked+label {
    background-position: 0 -25px
}

html #Startmenu #sliders .checkboxContainer input[type=checkbox]+label,body #Startmenu #sliders .checkboxContainer input[type=checkbox]+label {
    background-image: url(../checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}²

html #Startmenu #sliders #object-selector,body #Startmenu #sliders #object-selector {
    margin-top: 15px;
    contain: content;
    height: auto;
    -webkit-transition: .2s;
    transition: .2s
}

html #Startmenu #sliders #object-selector img,body #Startmenu #sliders #object-selector img {
    border: 1px solid black;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s
}

html #Startmenu #sliders #object-selector img:hover,body #Startmenu #sliders #object-selector img:hover {
    border: 1px solid white
}

html #Startmenu #sliders #object-selector .disabled,body #Startmenu #sliders #object-selector .disabled {
    opacity: .3
}

html #Startmenu #sliders #randomize,body #Startmenu #sliders #randomize {
    display: block;
    background: green;
    border-radius: 3px;
    text-align: center;
    border: 1px solid green;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s
}

html #Startmenu #sliders #randomize:hover,body #Startmenu #sliders #randomize:hover {
    background: rgba(0,128,0,0.2)
}

html #canvas-container,body #canvas-container {
    position: relative;
    display: none
}

html #canvas-container canvas,body #canvas-container canvas {
    border: 3px solid #ff0
}

html #canvas-container canvas.pulseWalls,body #canvas-container canvas.pulseWalls {
    -webkit-animation: pulseBorder .5s infinite alternate;
    animation: pulseBorder .5s infinite alternate
}

html #canvas-container #score-container,body #canvas-container #score-container {
    padding: 5px 10px;
    color: white;
    width: 200px;
    float: right;
    font-family: sans-serif;
    font-size: 200%
}

html #canvas-container #score-container #highscore,body #canvas-container #score-container #highscore {
    -webkit-margin-before: 0;
    margin-block-start:0}

html #canvas-container #score-container #FredScore,body #canvas-container #score-container #FredScore {
    color: red
}

html #canvas-container #score-container #GreenleeScore,body #canvas-container #score-container #GreenleeScore {
    color: green
}

html #canvas-container #score-container #WillemScore,body #canvas-container #score-container #WillemScore {
    color: orange
}

html #canvas-container #score-container #PinkneyScore,body #canvas-container #score-container #PinkneyScore {
    color: purple
}

html #canvas-container #score-container #BluebellScore,body #canvas-container #score-container #BluebellScore {
    color: cyan
}

html #canvas-container #score-container #GreenleeScore,body #canvas-container #score-container #GreenleeScore {
    color: green
}

html #canvas-container #score-container #ClaudeScore,body #canvas-container #score-container #ClaudeScore {
    color: #ff0
}

html #canvas-container #score-container #GreydonScore,body #canvas-container #score-container #GreydonScore {
    color: #646464
}

html #canvas-container #score-container #PhilippeScore,body #canvas-container #score-container #PhilippeScore {
    color: #07420c
}

html #canvas-container #score-container #HubertScore,body #canvas-container #score-container #HubertScore {
    color: blue
}

html #canvas-container #score-container #BrownieScore,body #canvas-container #score-container #BrownieScore {
    color: #964b00
}

html #canvas-container #score-container #DeepurpleScore,body #canvas-container #score-container #DeepurpleScore {
    color: rgba(138,43,226,0.8)
}

html #canvas-container #score-container #PinkeyScore,body #canvas-container #score-container #PinkeyScore {
    color: rgba(255,20,147,0.8)
}

html #canvas-container #score-container #AquamarinScore,body #canvas-container #score-container #AquamarinScore {
    color: rgba(127,255,212,0.8)
}

html #canvas-container #score-container #TealScore,body #canvas-container #score-container #TealScore {
    color: rgba(0,128,129,0.8)
}

html #canvas-container #score-container #CoraliaScore,body #canvas-container #score-container #CoraliaScore {
    color: rgba(255,127,80,0.8)
}

html #canvas-container #victoryScreen,body #canvas-container #victoryScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    z-index: 10;
    opacity: .8
}

html #canvas-container #victoryScreen #victor,body #canvas-container #victoryScreen #victor {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 400%;
    -webkit-margin-before: 0;
    margin-block-start:0;-webkit-text-stroke: midnightblue 1px
}

html #canvas-container .head,body #canvas-container .head {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #fff;
    border-radius: 100%
}

html #canvas-container .head.permuted,body #canvas-container .head.permuted {
    background: blue
}

html #canvas-container .head.squared,body #canvas-container .head.squared {
    border-radius: 0%
}

html #canvas-container .head.pulseHead,body #canvas-container .head.pulseHead {
    -webkit-animation: pulseHead .5s linear infinite alternate;
    animation: pulseHead .5s linear infinite alternate
}

html #canvas-container #pauseMenu,body #canvas-container #pauseMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    background: rgba(0,0,0,0.3);
    -webkit-transition: .2s;
    transition: .2s
}

html #canvas-container #pauseMenu h3,body #canvas-container #pauseMenu h3 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-top: 30%;
    font-size: 200%
}

html #canvas-container #bg_calc,body #canvas-container #bg_calc {
    background: black;
    position: absolute;
    z-index: -10;
    border: 3px solid transparent;
    -webkit-transition: .5s;
    transition: .5s
}

html #canvas-container .bonus,body #canvas-container .bonus {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: -5;
    background-size: cover
}

html #canvas-container .bonus.fasterSelf,body #canvas-container .bonus.fasterSelf {
    background-image: url(../bonus/fasterSelf.png)
}

html #canvas-container .bonus.fasterElse,body #canvas-container .bonus.fasterElse {
    background-image: url(../bonus/fasterElse.png)
}

html #canvas-container .bonus.fatter,body #canvas-container .bonus.fatter {
    background-image: url(../bonus/fatter.png)
}

html #canvas-container .bonus.slimmer,body #canvas-container .bonus.slimmer {
    background-image: url(../bonus/slimmer.png)
}

html #canvas-container .bonus.invincible,body #canvas-container .bonus.invincible {
    background-image: url(../bonus/invincible.png)
}

html #canvas-container .bonus.invert,body #canvas-container .bonus.invert {
    background-image: url(../bonus/invert.png)
}

html #canvas-container .bonus.random,body #canvas-container .bonus.random {
    background-image: url(../bonus/random.png)
}

html #canvas-container .bonus.addBonus,body #canvas-container .bonus.addBonus {
    background-image: url(../bonus/addBonus.png)
}

html #canvas-container .bonus.slowerElse,body #canvas-container .bonus.slowerElse {
    background-image: url(../bonus/slowerElse.png)
}

html #canvas-container .bonus.slowerSelf,body #canvas-container .bonus.slowerSelf {
    background-image: url(../bonus/slowerSelf.png)
}

html #canvas-container .bonus.wallSelf,body #canvas-container .bonus.wallSelf {
    background-image: url(../bonus/wallSelf.png)
}

html #canvas-container .bonus.walls,body #canvas-container .bonus.walls {
    background-image: url(../bonus/walls.png)
}

html #canvas-container .bonus.snakeSelf,body #canvas-container .bonus.snakeSelf {
    background-image: url(../bonus/snakeSelf.png)
}

html #canvas-container .bonus.snakeElse,body #canvas-container .bonus.snakeElse {
    background-image: url(../bonus/snakeElse.png)
}

html #canvas-container .bonus.colorBlind,body #canvas-container .bonus.colorBlind {
    background-image: url(../bonus/colorBlind.png)
}

html #canvas-container .bonus.changeBg,body #canvas-container .bonus.changeBg {
    background-image: url(../bonus/changeBg.png)
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(128,0,128,0.5);
        box-shadow: 0 0 0 0 rgba(128,0,128,0.5)
    }

    70% {
        -webkit-box-shadow: 0 0 15px 15px rgba(128,0,128,0);
        box-shadow: 0 0 15px 15px rgba(128,0,128,0)
    }

    100% {
        -webkit-box-shadow: 0 0 5px 0 rgba(128,0,128,0);
        box-shadow: 0 0 5px 0 rgba(128,0,128,0)
    }
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(128,0,128,0.5);
        box-shadow: 0 0 0 0 rgba(128,0,128,0.5)
    }

    70% {
        -webkit-box-shadow: 0 0 15px 15px rgba(128,0,128,0);
        box-shadow: 0 0 15px 15px rgba(128,0,128,0)
    }

    100% {
        -webkit-box-shadow: 0 0 5px 0 rgba(128,0,128,0);
        box-shadow: 0 0 5px 0 rgba(128,0,128,0)
    }
}

@-webkit-keyframes pulseBorder {
    to {
        border: 3px solid rgba(255,255,0,0)
    }
}

@keyframes pulseBorder {
    to {
        border: 3px solid rgba(255,255,0,0)
    }
}

@-webkit-keyframes pulseHead {
    to {
        background: rgba(255,255,255,0)
    }
}

@keyframes pulseHead {
    to {
        background: rgba(255,255,255,0)
    }
}

.range-slider {
    width: 90%;
    margin: 0 5%
}

.range-slider .rs-range {
    width: 100%;
    -webkit-appearance: none
}

.range-slider .rs-range:focus {
    outline: none
}

.range-slider .rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #c8c8c8;
    border-radius: 0px;
    border: 0px solid #010101
}

.range-slider .rs-range::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: none;
    background: #c8c8c8;
    border-radius: 0px;
    border: 0px solid #010101
}

.range-slider .rs-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #dcdcdc;
    border: 1px solid grey !important;
    border-radius: 5px;
    height: 30px;
    width: 50px;
    cursor: pointer;
    margin-top: -8px;
    -webkit-transition: .5s;
    transition: .5s
}

.range-slider .rs-range::-moz-range-thumb {
    -webkit-appearance: none;
    background: #dcdcdc;
    border: 1px solid grey !important;
    border-radius: 5px;
    height: 30px;
    width: 50px;
    cursor: pointer;
    margin-top: -8px;
    -webkit-transition: .5s;
    transition: .5s
}

.range-slider .rs-range::-moz-focus-outer {
    border: 0
}

.range-slider .rs-label {
    position: relative;
    top: 24px;
    left: 25px;
    pointer-events: none;
    line-height: 30px;
    font-family: sans-serif;
    color: black
}

/*# sourceMappingURL=style.min.css.map */
