::-webkit-scrollbar {
    width: .4em;
    height: .6em
}

::-webkit-scrollbar-track-piece {
    background: rgba(255,255,255,0.3)
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background: rgba(255,255,255,0.7)
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: black;
    user-select: none
}

#Startmenu {
    display: flex;
    flex-direction: column;
}

#Startmenu h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    height: 80px;
    font-size: 3em;
    text-shadow: 1px 0px 3px red;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 0;
}

#Startmenu h1 sub {
    margin-left: 10px;
    font-size: .5em;
    color: red;
    text-shadow: none;
}

#Startmenu > div{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    align-items: center;
}

#Startmenu > div > *{
    overflow: auto;
    min-width: 30vw;
}


#playerSlection {
    height: calc(100vh - 100px);
    align-self: top;
    color: white;
    font-family: Verdana, sans-serif;
}

#playerSlection .player-container {
    display: block;
    width: 100%;
    height: 70px;
    opacity: .3;
    box-shadow: 0px 0px 5px white;
    transition: .2s
}

#playerSlection .player-container:hover {
    opacity: .8
}

#playerSlection .player-container .name {
    float: left;
    padding: 5px 10px
}

#playerSlection .player-container .keyLeft,#playerSlection .player-container .keyRight {
    float: right;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px
}

#playerSlection .player-container.selected {
    opacity: .8 !important
}


#playerSlection .player-container[alt="red"] {
    background: rgba(255,0,0,0.8)
}

#playerSlection .player-container[alt="green"] {
    background: rgba(0,255,0,0.8)
}

#playerSlection .player-container[alt="#FFA500"] {
    background: rgba(255,165,0,0.8)
}

#playerSlection .player-container[alt="purple"] {
    background: rgba(255,0,255,0.8)
}

#playerSlection .player-container[alt="cyan"] {
    background: rgba(0,255,255,0.8)
}

#playerSlection .player-container[alt="yellow"] {
    background: rgba(255,255,0,0.8)
}

#playerSlection .player-container[alt="grey"] {
    background: rgba(100,100,100,0.8)
}

#playerSlection .player-container[alt="#07420c"] {
    background: rgba(7,66,12,0.8)
}

#playerSlection .player-container[alt="blue"] {
    background: rgba(0,0,255,0.8)
}

#playerSlection .player-container[alt="#964B00"] {
    background: rgba(150,75,0,0.8)
}

#playerSlection .player-container[alt="blueviolet"] {
    background: rgba(138,43,226,0.8)
}

#playerSlection .player-container[alt="deeppink"] {
    background: rgba(255,20,147,0.8)
}

#playerSlection .player-container[alt="aquamarine"] {
    background: rgba(127,255,212,0.8)
}

#playerSlection .player-container[alt="teal"] {
    background: rgba(0,128,129,0.8)
}

#playerSlection .player-container[alt="coral"] {
    background: rgba(255,127,80,0.8)
}

#Go {
    height: 260px!important;
    min-width: 260px!important;
    color: white;
    background: black;
    border: 5px solid cyan;
    margin: 0;
    font-size: 3.7em;
    cursor: pointer;
    border-radius: 100%;
    font-family: sans-serif;
    text-align: center;
    line-height: 250px;
}

#Go:hover {
    background-color: midnightblue;
}


#settings{
    width: 300px;
}

#sliders p {
    color: white;
    font-family: sans-serif;
    display: inline-block;
    width: 200px;
    text-align: right;
}

#sliders .slider {
    display: inline-block;
    width: calc(100% - 220px);
}

#bonus{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bonus .checkboxContainer {
    display: grid;
    grid-template-columns: auto 50px;
    background: purple;
    border-radius: 3px;
    width: 50%;
    z-index: 2;
    color: white;
}

#bonus .checkboxContainer:hover {
    background: midnightblue
}

#bonus .checkboxContainer label:first-of-type {
    font-family: sans-serif;
    line-height: 50px;
    padding-left: 20px;
    cursor: pointer
}

#bonus .checkboxContainer input[type=checkbox] {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}

#bonus .checkboxContainer input[type=checkbox]+label {
    padding-left: 25px;
    height: 25px;
    border-radius: 3px;
    display: inline-block;
    margin: 12.5px;
    line-height: 25px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer
}

#bonus .checkboxContainer input[type=checkbox]:checked+label {
    background-position: 0 -25px
}

#bonus .checkboxContainer input[type=checkbox]+label {
    background-image: url(../checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

#object-selector {
    padding : 40px 10px 10px;
    border: 2px dashed purple;
    margin-top: -25px;
    width: 90%;
    text-align: center;
}

#object-selector.disabled{
    opacity: 0.2;
    pointer-events: none;
}

#object-selector img {
    cursor: pointer;
    margin: 5px;
    border: 3px dotted black;
    border-radius: 100%;
}

#object-selector img:hover {
    border: 3px dashed white;
    border-radius: 100%;
}

#object-selector .disabled {
    opacity: .3;
}

#randomize {
    background: orange;
    border-radius: 3px;
    text-align: center;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
}

#randomize:hover {
    background: yellow;
}

#canvas-container {
    position: relative;
    display: none
}

#canvas-container canvas {
    border: 3px solid #ff0
}

#canvas-container canvas.pulseWalls {
    animation: pulseBorder .5s infinite alternate
}

#score-container {
    padding: 5px 10px;
    color: white;
    width: 200px;
    float: right;
    font-family: sans-serif;
    font-size: 200%
}

#highscore {
    margin-block-start:0}

#FredScore {
    color: red
}

#GreenleeScore {
    color: green
}

#WillemScore {
    color: orange
}

#PinkneyScore {
    color: purple
}

#BluebellScore {
    color: cyan
}

#GreenleeScore {
    color: green
}

#ClaudeScore {
    color: #ff0
}

#GreydonScore {
    color: #646464
}

#PhilippeScore {
    color: #07420c
}

#HubertScore {
    color: blue
}

#BrownieScore {
    color: #964b00
}

#DeepurpleScore {
    color: rgba(138,43,226,0.8)
}

#PinkeyScore {
    color: rgba(255,20,147,0.8)
}

#AquamarinScore {
    color: rgba(127,255,212,0.8)
}

#TealScore {
    color: rgba(0,128,129,0.8)
}

#CoraliaScore {
    color: rgba(255,127,80,0.8)
}

#victoryScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    z-index: 10;
    opacity: .8
}

#victor {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 400%;
    -webkit-margin-before: 0;
    margin-block-start:0;-webkit-text-stroke: midnightblue 1px
}

#canvas-container .head {
    width: 10px;
    height: 10px;
    position: absolute;
    background: #fff;
    border-radius: 100%
}

#canvas-container .head.permuted {
    background: blue
}

#canvas-container .head.squared {
    border-radius: 0%
}

#canvas-container .head.pulseHead {
    animation: pulseHead .5s linear infinite alternate
}

#pauseMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    background: rgba(0,0,0,0.3);
    transition: .2s
}

#pauseMenu h3 {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-top: 30%;
    font-size: 200%
}

#bg_calc {
    background: black;
    position: absolute;
    z-index: -10;
    border: 3px solid transparent;
    transition: .5s
}

#canvas-container .bonus {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: -5;
    background-size: cover
}

#canvas-container .bonus.fasterSelf {
    background-image: url(../bonus/fasterSelf.png)
}

#canvas-container .bonus.fasterElse {
    background-image: url(../bonus/fasterElse.png)
}

#canvas-container .bonus.fatter {
    background-image: url(../bonus/fatter.png)
}

#canvas-container .bonus.slimmer {
    background-image: url(../bonus/slimmer.png)
}

#canvas-container .bonus.invincible {
    background-image: url(../bonus/invincible.png)
}

#canvas-container .bonus.invert {
    background-image: url(../bonus/invert.png)
}

#canvas-container .bonus.random {
    background-image: url(../bonus/random.png)
}

#canvas-container .bonus.addBonus {
    background-image: url(../bonus/addBonus.png)
}

#canvas-container .bonus.slowerElse {
    background-image: url(../bonus/slowerElse.png)
}

#canvas-container .bonus.slowerSelf {
    background-image: url(../bonus/slowerSelf.png)
}

#canvas-container .bonus.wallSelf {
    background-image: url(../bonus/wallSelf.png)
}

#canvas-container .bonus.walls {
    background-image: url(../bonus/walls.png)
}

#canvas-container .bonus.snakeSelf {
    background-image: url(../bonus/snakeSelf.png)
}

#canvas-container .bonus.snakeElse {
    background-image: url(../bonus/snakeElse.png)
}

#canvas-container .bonus.colorBlind {
    background-image: url(../bonus/colorBlind.png)
}

#canvas-container .bonus.changeBg {
    background-image: url(../bonus/changeBg.png)
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(128,0,128,0.5)
    }

    70% {
        box-shadow: 0 0 15px 15px rgba(128,0,128,0)
    }

    100% {
        box-shadow: 0 0 5px 0 rgba(128,0,128,0)
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(128,0,128,0.5)
    }

    70% {
        box-shadow: 0 0 15px 15px rgba(128,0,128,0)
    }

    100% {
        box-shadow: 0 0 5px 0 rgba(128,0,128,0)
    }
}

@-webkit-keyframes pulseBorder {
    to {
        border: 3px solid rgba(255,255,0,0)
    }
}

@keyframes pulseBorder {
    to {
        border: 3px solid rgba(255,255,0,0)
    }
}

@-webkit-keyframes pulseHead {
    to {
        background: rgba(255,255,255,0)
    }
}

@keyframes pulseHead {
    to {
        background: rgba(255,255,255,0)
    }
}

.range-slider {
    width: 90%;
    margin: 0 5%
}

.range-slider .rs-range {
    width: 100%;
    -webkit-appearance: none
}

.range-slider .rs-range:focus {
    outline: none
}

.range-slider .rs-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: none;
    background: #c8c8c8;
    border-radius: 0px;
    border: 0px solid #010101
}

.range-slider .rs-range::-moz-range-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    box-shadow: none;
    background: #c8c8c8;
    border-radius: 0px;
    border: 0px solid #010101
}

.range-slider .rs-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #dcdcdc;
    border: 1px solid grey !important;
    border-radius: 5px;
    height: 30px;
    width: 50px;
    cursor: pointer;
    margin-top: -8px;
    transition: .5s
}

.range-slider .rs-range::-moz-range-thumb {
    -webkit-appearance: none;
    background: #dcdcdc;
    border: 1px solid grey !important;
    border-radius: 5px;
    height: 30px;
    width: 50px;
    cursor: pointer;
    margin-top: -8px;
    transition: .5s
}

.range-slider .rs-range::-moz-focus-outer {
    border: 0
}

.range-slider .rs-label {
    position: relative;
    top: 24px;
    left: 25px;
    pointer-events: none;
    line-height: 30px;
    font-family: sans-serif;
    color: black
}
